*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open-sans;
    border: 1px dashed green;
}

header{
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-logo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-nav{
    height: 60px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-small{
    font-size: 10px;
}

.div-accedi{
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.container-jumbo{
    width: 100%;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    
}

.jumbo{
    width: 70%;
}

h1{
    font-size: 78px;
}

.marg-bott{
    margin-bottom: .5rem;
}

.bg-blue{
    background-color: #0061ff;
}

.color{
    color: white;
}

.button{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h5-prova-gratuita{
    height: 100%;
    margin-bottom: .5rem;
}



.container-jumbo-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.text-jumbo{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 17px;
    height: 340px;
    margin-top: 20px;
}

.padd-top{
    padding-top: 1rem;
}

.icon{
    padding-top: 2rem;
}

.container-jumbo-img{
    margin-top: 20px;
    width: 65%;
    position: relative;
}

.bg-img-jumbo{
    object-fit: contain;
    object-position: center;
    height: 400px;
    position: absolute;
}


/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.main-content{
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.container-header-main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

h2{
    font-size: 45px;
}

.container-btn-radio{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
    font-size: 13px;
}

.marg-left{
    margin-left: 40px;
}

.container-store-card{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.store-card{
    width: calc(( 100% / 3 ) - 20px);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-store-card{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-store-card{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.marg-bottom-store-card{
    margin-bottom: .7rem;
}

.marg-bottom-mese{
    margin-bottom: 2rem;
}

.lightgray{
    color: lightgray;
}

.button-prova-gratis{
    width: 100%;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    margin-left: .5rem;
}

.hr-card{
    margin-top: 1.5rem;
    width: 20%;
    background-color: lightgray;
}

.bold{
    font-weight: bold;
}

.marg-top-store-card{
    margin-top: 2rem;
}

.container-hor-card{
    width: 100%;
    padding-top: 1rem;
}

.horizontal-card{
    width: 100%;
    height: 150px;
}

.container-body-main-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-body-main-img{
    width: 60%;
    height: 300px;
    margin-top: 2rem;
}

.text-body{
    width: 35%;
    height: 200px;
    margin-top: 3rem;
}

.row-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.instruments-card{
    width: calc(( 100% / 3) - 10px);
    height: 300px;
}

.text-br{
    width: 40%;
    font-size: bold;
}


/* FOOTER */

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-footer{
    width: 100%;
}

.sponsor-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.square-sponsor-container{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.square-sponsor{
    width: 50%;
    height: 200px;
}

.main-footer{
    width: 100%;
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main-footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-main-text{
    width: 60%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-prova-gratuita{
    width: 35%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frequent-questions-container{
    width: 60%;
    height: 200px;
}

.footer-footer{
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

.container-footer-footer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-column{
    width: calc( 100% / 5 );
    height: 300px;
    text-align: left;
}