*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-logo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 100;
    font-size: 15px;
}

.container-nav{
    height: 60px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-small{
    font-size: 10px;
    height: 15px;
    padding-top: .1rem;
}

.div-accedi{
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.button-inizia{
    width: 15%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.h5-inizia{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-jumbo{
    width: 100%;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    
}

.jumbo{
    width: 70%;
}

h1{
    font-size: 78px;
}

.marg-bott{
    margin-bottom: .5rem;
}

.bg-blue{
    background-color: #0061ff;
}

.color{
    color: white;
}

.button{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-blue{
    border: 1px solid #0061ff;
}

.h5-prova-gratuita{
    height: 100%;
    margin-bottom: .5rem;
}



.container-jumbo-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.text-jumbo{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 13px;
    height: 340px;
    margin-top: 20px;
}

.align-center{
    display: flex;
    align-items: flex-start;
}

.marg-bott-icon{
    margin-bottom: .7rem;
}

.padd-top{
    padding-top: 1rem;
}

.icon{
    padding-top: 2rem;
}

.container-jumbo-img{
    margin-top: 20px;
    width: 65%;
    position: relative;
}

.bg-img-jumbo{
    object-fit: contain;
    object-position: center;
    height: 400px;
    position: absolute;
}


/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    font-family: 'Open Sans', sans-serif;
}

.main-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-header-main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

h2{
    font-size: 45px;
}

.container-btn-radio{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
    font-size: 13px;
}

.marg-left{
    margin-left: 40px;
}

.container-store-card{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.store-card{
    width: calc(( 100% / 3 ) - 20px);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
}

.header-store-card{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.body-store-card{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.marg-bottom-store-card{
    margin-bottom: .7rem;
}

.marg-bottom-mese{
    margin-bottom: 2rem;
}

.lightgray{
    color: lightgray;
}

.button-prova-gratis{
    width: 100%;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    margin-left: .5rem;
}

.hr-card{
    margin-top: 1.5rem;
    width: 20%;
    background-color: lightgray;
}

.bold{
    font-weight: bold;
}

.marg-top-store-card{
    margin-top: 2rem;
}

h6{
    margin-top: .5rem;
    
}

.container-hor-card{
    width: 100%;
    padding-top: 1.5rem;
}

.horizontal-card{
    width: 100%;
    height: 180px;
    border: 1px solid lightgray;
}

.container-content-hor-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.content-hor-card{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-btn-hor-card{
    width: 30%;
    padding-top: .2rem;
}

.btn-contatta-assistenza{
        width: 100%;
        color: white;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.padd-top-05{
    padding-top: .5rem;
}

.container-text-hor-card{
    width: 70%;
    padding-top: 1rem;
}

.container-body-main-content{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
}

.container-body-main-img{
    width: 63%;
    height: 450px;
    margin-top: 2rem;
}

.img-partner{
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.text-body{
    width: 35%;
    height: 200px;
    margin-top: 5.5rem;
}

.title-partner-text{
    font-size: 22px;
    margin-bottom: .5rem;
}

.body-partner-text{
    font-size: 13px;
    margin-bottom: 1rem;
}

.btn-trova-partner{
    width: 33%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.border{
    border: 1px solid black;
}

.margin-top-h2{
    margin-top: 7rem;
}

.h2-più-operazioni{
    font-size: 40px;
}

.row-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.instruments-card{
    width: calc(( 100% / 3) - 10px);
    height: 400px;
}

.container-img-instruments-card{
    width: 100%;
    height: 235px;
}

.img-instruments-card{
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.font-instruments-card-title{
    font-size: 21px;
}

.padd-top-instruments-card{
    padding-top: 1.5rem;
}

.text-br{
    width: 70%;
    margin-top: 6rem;
}

.size-text-br{
    font-size: 40px;
}

.scopri-di-più{
    height: 200px;
    display: flex;
    align-items: center;
}

.footer-main{
    width: 100%;
}

.sponsor-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.square-sponsor-container{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.square-sponsor{
    width: 50%;
    height: 50%;
}

.square-sponsor:hover{
    border: 10px solid #d1e9cd;
    transition: .1s linear;
}

.square-designit{
    width: 100%;
    height: 100%;
    background-color: #a2d39b;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.svg-designit{
    object-fit: contain;
    object-position: center;
    width: 42%;
    height: 32px;
    filter: invert(100%);
}

.square-arizona{
    background-color: #61082b;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-arizona{
    object-fit: contain;
    object-position: center;
    width: 50%;
    height: 100px;
    filter: invert(100%);
}

.square-florida{
    background-color: #0093ce;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-florida{
    object-fit: contain;
    object-position: center;
    width: 50%;
    height: 35px;
    filter: invert(100%);
}

.square-topps{
    background-color: #ff1c1c;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-topps{
    object-fit: contain;
    object-position: center;
    width: 55%;
    height: 50px;
    filter: invert(100%);
}

.container-big-square{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.big-square-designit{
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
    width: 80%;
}

.big-svg-designit{
    object-fit: contain;
    object-position: center;
    width: 40%;
    height: 50px;
}

.text-big-square{
    width: 80%;
    margin-top: 6rem;
    text-align: left;
}

.square-bicycle{
    background-color: #d5001f;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-bicycle{
    object-fit: contain;
    object-position: center;
    width: 55%;
    height: 50px;
    filter: invert(100%);
}

.square-hearst{
    background-color: #b4d0e7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-hearst{
    object-fit: contain;
    object-position: center;
    width: 55%;
    height: 50px;
    filter: invert(100%);
}

.square-planet{
    background-color: #0d2481;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-planet{
    object-fit: contain;
    object-position: center;
    width: 55%;
    height: 50px;
    filter: invert(100%);
}

.square-clear-channel{
    background-color: #ffd830;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-clear-channel{
    object-fit: contain;
    object-position: center;
    width: 55%;
    height: 50px;
    filter: invert(100%);
}

/* FOOTER */

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}


.header-footer{
    width: 100%;
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header-footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header-text{
    width: 60%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-footer-text{
    width: 65%;
    font-weight: 600;
    font-size: 26px;
}

.container-prova-gratuita{
    width: 35%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-lightgray{
    background-color: #ffffff;
    border-color: #ffffff;
}

.button-inizia-prova{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-question{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.frequent-questions-container{
    width: 60%;
    height: 400px;
    text-align: left;
}

.font-frequent-questions{
    font-size: 32px;
}

.hr-marg{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.hr-marg-inline{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dropdown-marg{
    margin-left: 20rem;
}

.footer-footer{
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

.container-footer-footer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 6rem;
}

.footer-column{
    width: calc(( 100% / 5 ) - 10px );
    height: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: small;
}

.padd-bott{
    margin-bottom: 2rem;
}